<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
    {{ template "_internal/google_analytics.html" . }}
</head>

<body class="
{{- if (ne .Kind `page` ) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- if .Param "showTopProgressBar" -}}
      <div class="progress-bar"></div>
    {{- end -}}
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    </main>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "HideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
