{{- define "main" }}

<div class="home-container">
  {{- with .Site.Params.homePage }}
    <div class="home-container-inner">
      {{- if .imageUrl -}}
        <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default "home image" }}"
          height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
      {{- end }}
      <h1 class="home-container-title">{{ .title | default $.Site.Title | markdownify }}</h1>
      <p class="home-container-description">{{ .description | markdownify }}</p>
      {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
    </div>
  {{- end}}
</div>

{{- end }}
